@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'fonts.css';
@import 'menu.css';

@layer utilities {
  .tracking-superwide {
    letter-spacing: 0.15em;
  }

  .tracking-megawide {
    letter-spacing: 0.2em;
  }

  .grid-cols-3-w {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .spaced-out {
    word-spacing: 2rem;
  }

  .spaced-out::after {
    content: "\00a0";
    min-width: 80vw;
    display: inline-block;
  }

  .text-stroke-05 {
    -webkit-text-stroke: 0.5px;
  }

  .uppercase-small {
    @apply tracking-superwide tracking-wide uppercase font-ui;
  }
}

@layer base {
  body {
    @apply bg-white text-black;
  }

  figure:empty {
    @apply hidden;
  }

  p {
    @apply font-serif text-base mb-4;
  }

  h2 {
    @apply font-display uppercase text-2xl tracking-widest text-center my-0 border-b border-black;
  }

  h3 {
    @apply font-display uppercase text-2xl tracking-widest text-left my-4;
  }

  .main > *:not(.alignwide):not(.alignfull):not(article),
  .the-content > *:not(.alignwide):not(.alignfull) {
    @apply mx-auto max-w-4xl;
  }

  .main > *,
  .the-content > * {
    @apply  my-8 px-2;
  }

  .alignwide {
    @apply mx-auto max-w-7xl;
  }
}